body {
	background-color: ivory;
	margin: 0px;
	padding: 0px;
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    

#name {
	color: ivory;
}

.jumbotron {
	background-color: #e83a30;
	height: 500px;
}

.photo {
	border-radius: 50%;
	height: 400px;
	width: 400px;
}

.bio {
 padding-left:120px;
 padding-right: 120px;
 padding-top: 100px;
 padding-bottom: 30px;

 font-size: 20px;
 font-family: 'garamond';
}

.textheader {
	font-size: 50px;
}

hr {
	border-color: black;
}

footer {
	background-color: black;
	text-align: center;
	color: ivory;
	width: 100%;
	margin: 0px;
	padding: 0px;

}

h4 {
	font-size: 40px;
	font-family: 'helvetica';
}

i {
	padding: 5px;
}