body {
	background-color: red;
}

.header h1{
	background-color: red;
	text-align: center;
	padding-top: 20%;
	font-size: 80px;
}

.header{
	height: 600px;
}

#name {
	color: white;
}

#arrow{
	font-size: 100px;
	text-align: center;
}

#about h1 {
	font-size: 80px;
	text-align: center;
}

#about {
	background-color: white;
	height: 500px;
}

